html * {
    margin:0px;
}
body{
    background-image: url("../images/bodybg.jpg");
    background-repeat: repeat;
    margin: 0px;
}
header {
    width: 100%;
    height: 200px;
    background-image: url("../images/menubg2.jpg");
    background-repeat: repeat;
    color: azure;
    text-align: center;
    margin: 0;
}
menu{
    margin:0px;
    padding: 0px;
    text-align: center;
    justify-content: center;
}
#navbar {
    overflow: hidden;
    background-image: url("../images/headerbg.jpg");
    display: flex;
    justify-content: center;
}
  
#navbar a {
    color: #f2f2f2;
    align-items: center;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    text-shadow: 3px 3px #000000;
}
  
#navbar a:hover {
    background-color: rgba(255, 238, 0, 0.342);
    color: rgb(255, 255, 255);
}
  
#navbar a.active {
    color: rgb(255, 230, 0);
    text-shadow: 3px 3px #000000;
}
  
.content {
    padding: 16px;
}
  
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
.sticky + .content {
    padding-top: 60px;
}

main{
    background-color: rgba(53, 53, 53, 0.568);
    color: white;
    width: 70%;
    height: auto;
    padding: 10px;
    margin: auto;
}
main h1{
    text-align: center;
}
p{
    text-align: justify;
    font-size: 12;
    color: cornsilk;
}
footer{
    width: 100%;
    height: 100px;
    background-image: url("../images/menubg2.jpg");
    background-repeat: repeat;
    color: azure;
    position: fixed; 
    left: 0 ; right: 0; bottom: 0; 
    margin: 0;
}
footer h2 {
    padding-top: 40px;
    color: rgb(255, 255, 255);
    text-align:center;
}