html {
    margin: 0px;
}

body {
    background-image: url("../images/bg.jpg");
    background-repeat: repeat;
}

header{
    width: 1200px;
    height: 200px;
    background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
    margin-left: 20%;
    padding: 0px;
}

h3,h2,h1{
    color: aqua;
    text-align: center;
}

h4{
    color: coral;
}

h5{
    color: goldenrod;
}

p{
    font-size: 22px;
    color: rgb(252, 255, 65);
}

menu{
    width: 190px;
    position: fixed;
    z-index: 1;
    top: 200px;
    left: 20%;
    background:linear-gradient(0deg, rgba(236, 10, 10, 0.4), rgba(138, 0, 23, 0.1)), url("../images/bg2.jpg");
    background-repeat: repeat;
    overflow-x: hidden;
    padding: 8px 0;
}

menu a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #00ff22;
    display: block;
}

menu a:hover{
    color: #fbff00;
}

main {
    margin-left: 30%;
    padding: 20px;
    width: 970px;
    margin-top: 10px;
    background-color: rgb(97, 97, 97);
}

footer{
    background:linear-gradient(0deg, rgba(35, 141, 145, 0.3), rgba(0, 0, 0, 0.3)), url("../images/bg2.jpg");
    background-repeat: repeat;
    width: 1200px;
    height: 50px;
    color:rgb(207, 112, 255);
    font-size: 20px;
    margin-left: 20%;
    text-align: center;
}

#bal{
    float: left;
    width: 250px;
    height: auto;
}

#middle{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#star{
    width: 100px;
    height: auto;
}